*{
  margin-right: 0;
  margin-left: 30px;
  padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: 'Magmatic';
  src: url('fonts/magmatic-vf.woff2') format('woff2-variations'),
  url('fonts/magmatic-vf.woff') format('woff-variations'),
  url('fonts/magmatic-vf.ttf') format('truetype-variations');
}

:root{
	--wght: 300;
	--wdth: 120;
	--XHGT: 100;

	--color: red;
}

@font-face {
  font-family: Chisel-WeatheringVF;
  src: url(Chisel-WatheringVF.ttf);
}
body{
  background-image: url('img/clay.webp');
  background-size: cover;
  background-attachment: fixed;
  font-family: Chisel-WeatheringVF;
  text-transform: uppercase;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 4rem;
	color:  var(--color);
}

.magmatic, .magmatic *{
	font-variation-settings: 'wght' var(--wght),'wdth' var(--wdth), 'XHGT' var(--XHGT);
}

section{
  width: 85vw;
  height: 100vh;
}


#intro{
	line-height: 1.2;
}

#content{
	width: 33em;
	height: 500px;
	margin: auto;
	--wght: 900;
}

#content p{
	transition: font-variation-settings 400ms ease-in-out;
}

.intro-1 div {
  width: 80vw;
  height: 100vh;
}

.paragraph-0 {
  font-size: 6em;
  color: black;
  margin: auto;
  z-index: 2;
  word-wrap: break-word;
  filter: drop-shadow(1px 15px 10px black);
}

.paragraph-1 {
  font-size: 4em;
  color: black;
  margin: auto;
  z-index: 2;
  word-wrap: break-word;
  filter: drop-shadow(1px 15px 10px black);
}

.paragraph-2 {
  font-size: 2.5em;
  color: black;
  margin: auto;
  z-index: 2;
  word-wrap: break-word;
  filter: drop-shadow(1px 15px 10px black);
}


/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: ':';
}

input.axis-range{
	width: 580px;
	margin: 0 20px;
}


/*BUTTON STYLES*/

.y-coculator {
  margin-left: 75%;
  position: fixed;
  color: black;
  font-size: .6em;
}

.container-b div {

}

#archive-button {
  display: block;
  margin: auto;
  background-color: #333;
  padding: 15px 32px;
}

a {
  text-align: center;
  color: #fff;
  margin-left: 0;
  text-decoration: none;
}
