* {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

.intro {
  width: 100%;
  height: 100vh;
  background-image: url('img/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.intro h1 {
  color: #fff;
  margin: auto;
  font-size: 3em;
}

.container {
  width: 85%;
  margin: auto;
}

.container h1 {
  text-align: center;
  margin: 20px;
}

.row {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: scale(.1);
  transition: all 1s ease-in-out;
}
.active{
  opacity: 1;
  transform: scale(1);
}

p {
  font-size: 18px;
  line-height: 30px;
  flex-basis: 40%;
}
