body {
  margin: 0;
  cursor: url('img/cursor4.png'), auto;
}

.container {
  background-image: url('img/background2.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container div {
  padding: 10px;
  background-size: cover;
  background-attachment: fixed;
}

.object1 {
  margin-top: 30%;
  float: right;
}

.object2 {
  margin-left: 33%;
  margin-top: 10%;
}
