body {
  margin: 0;
  background-image: url('img/pxArt (3).png');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.middle {
  margin-top: 20px;
}

.grid-1 {
  margin-right: 0;
  margin-left: 40px;
}

.grid-3 {
  margin-right: 0;
  margin-left: 40px;
}

p {
  color: #b5b5b5;
  font-family: 'VT323', monospace;
  font-size: 1.35em;
  line-height: 1.5em;
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}
