body {
  margin: 0;
  background-image: url('img/pxArt (5).png');
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.middle {
  margin-top: 20px;
}

.grid-1 {
  margin-right: 0;
  margin-left: 40px;
}

.grid-3 {
  margin-right: 0;
  margin-left: 40px;
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.container-4 {
  display: grid;
  grid-template-columns: .5fr;
  grid-template-rows: 1fr .1fr;
  grid-gap: 1px;
  box-sizing: border-box;
}

.img-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

p {
  font-family: prestige-elite-std, monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

#button1 {
  margin-top: 20px;
  width: 60px;
}

#button1:hover {
  width: 70px;
}

figcaption {
 margin-left: 100px;
  margin-top: 10px;
  font-family: prestige-elite-std, monospace;
  font-weight: 600;
  font-style: normal;
  font-size: .9em;
  line-height: 1.4em;
}

.note1  {
  margin-left: 20px;
   margin-top: 10px;
   font-family: prestige-elite-std, monospace;
   font-weight: 600;
   font-style: normal;
   font-size: .9em;
   line-height: 1.4em;
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
  }

  .container-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
  }

.image-1 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

.image-2 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.image-4 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

  .grid-1 {
  display: none;
  }

  .box-3 {
  display: none;
  }

  .box-4 {
  margin-left: 300px;
  }

  .note1  {
    margin-left: 110px;
     margin-top: 10px;
     font-family: prestige-elite-std, monospace;
     font-weight: 600;
     font-style: normal;
     font-size: .9em;
     line-height: 1.4em;
  }
}
