* {
  box-sizing: border-box;
  cursor: url(img/cursor3.png), auto;
}

body {
  overflow-x: hidden;
  background-color: #0000a8;
}

div {
  display: block;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.title1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 3.35em;
  letter-spacing: 4px;
}

.p1 {
  margin-top: 0;
  margin-left: 5%;
  margin-right: 10%;
  color: #bababa;
  font-family: 'VT323', monospace;
  font-size: 1.7em;
  line-height: 30px;
}

.img1 {
  margin-left: 10%;
  width: 45vmax;
}

.img2 {
  margin-left: 23%;
  width: 48vmax;
}

.img4 {
  margin-left: 5%;
  margin-right: 5%;
  width: 70vmax;
}

.img5 {
  margin-left: 24%;
  margin-right: 5%;
  width: 48vmax;
  transition: transform .2s;
}

.img6 {
  margin-left: 28%;
  width: 38vmax;
  transition: transform .2s;
}

.img7 {
  margin-left: 28%;
  width: 38vmax;
  transition: transform .2s;
}

.note1 {
  margin-left: 15%;
  font-family: 'VT323', monospace;
  color: #bababa;
  font-size: 1.1em;
  letter-spacing: 1.5px;
}

.sidebar-left {
  margin-top: 50%;
}

.nav {
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: #bababa;
  padding-top: 20px;
  transition: .5s;
  overflow-x: hidden;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-family: 'VT323', monospace;
  font-size: 35px;
  text-decoration: none;
  color: #0000a8;
  line-height: 35px;
}

.nav a:hover {
  color: #fff;
}

.nav .close {
  position: absolute;
  margin-top: 0;
  right: 46px;
  margin-left: 50px;
  font-size: 37px;
}

.guide1 {
  line-height: 80px;
}

.slide a {
  color: #bababa;
  font-size: 37px;
  text-decoration: none;
  font-family: 'VT323', monospace;
  line-height: 0;
  margin-bottom: 0;
}

.slide a:hover {
  color: #fff;
}

#content {
  padding: 20px;
  transition: margin-left .7s;
}

h2 {
  margin-left: .3in;
  margin-right: 1in;
  margin-top: 25%;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  line-height: 40px;
  position: relative;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h2::before {
  background: #0000a8;
  animation: typewriter 4s steps(33) forwards;
}

h2::after {
  width: .1em;
  background: #bababa;
  animation: typewriter 4s steps(42) forwards, blink 500ms steps(34) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@media only screen and (max-width: 640px) {
  .img4 {
    margin-left: 5%;
    width: 45vmax;
    transition: transform .2s;
  }

  .img4:hover {
    transform: scale(1.2);
  }

  .img2 {
    margin-left: 4%;
    width: 48vmax;
  }

  .img5 {
    margin-left: 4%;
    margin-right: 5%;
    width: 48vmax;
  }

  .img6 {
    margin-left: 15%;
    width: 38vmax;
  }

  .img7 {
    margin-left: 4%;
    width: 48vmax;
  }
}
